@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Titillium+Web:ital@0;1&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: "Open Sans", sans-serif; }

header {
  width: 100%;
  display: flex;
  background-color: black; }

.header__logo {
  font-family: 'Open Sans';
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-top: 56px;
  margin-left: 183px; }

nav {
  margin-top: 56px;
  margin-left: 29%; }

.topnav a {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 16px; }

.topnav a:hover {
  border-bottom: 3px solid #fcac45; }

.icon {
  display: none; }

@media screen and (max-width: 1105px) {
  nav {
    margin-left: 10%; } }

@media screen and (max-width: 1200px) {
  nav {
    margin-left: 20%; } }

@media screen and (max-width: 1010px) {
  .topnav a {
    display: none; }
  .topnav a.icon {
    float: right;
    margin-top: -17px;
    display: block;
    color: #ffffff;
    font-size: 28px; }
  nav {
    width: 100%; }
  .topnav.responsive {
    position: relative;
    top: 50px;
    left: -250px; }
  header.topnav.responsive {
    height: 340px; }
  .topnav.responsive a.icon {
    position: absolute;
    top: -50px;
    right: -200px; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; }
  main.main__welcome {
    padding: 50px 0 50px 0;
    flex-direction: column; }
  main.main__welcome p {
    font-size: 14px; }
  .main__welcome h1 {
    font-size: 28px;
    margin-top: 10px; }
  .mw-100 {
    max-width: 100%; }
  .main__about {
    flex-direction: column; }
  .about__right {
    position: relative;
    top: 50px;
    left: -80px;
    text-align: center; }
  .about__right li {
    text-align: left; }
  .about__right p {
    position: relative;
    top: 30px;
    left: -30px;
    font-size: 8px;
    text-align: center; }
  .team__cards {
    flex-direction: column; }
  .service__cards {
    flex-direction: column; }
  .main__clients img {
    margin-top: 20px;
    margin-left: 30px; }
  .main__someOf i {
    font-size: 28px;
    margin-top: 10px; }
  .main__takeAlook i {
    font-size: 28px;
    margin-top: 10px; }
  .main__ourClients i {
    font-size: 28px;
    margin-top: 10px; }
  .line1 img:not(:first-child) {
    display: none; }
  .line2 img:not(:first-child) {
    display: none; }
  .line3 img:not(:first-child) {
    display: none; }
  .contact__wrapper {
    max-width: 100%; }
  .contact__text i {
    position: relative;
    top: 20px;
    left: -10px;
    font-size: 16px;
    text-align: center; }
  .form__inputs {
    display: flex;
    flex-direction: column; }
  .contact__wrapper {
    width: 70%; }
  input[type=text] {
    display: flex;
    width: 50%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px; } }

h1::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100px;
  padding-top: 30px;
  border-bottom: 3px solid #fcac45; }

.main {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .main__welcome {
    text-align: center;
    background-color: #000000;
    padding: 220px 0 420px 0; }

.letter {
  font-family: 'Open Sans';
  font-size: 44px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #999999;
  padding-bottom: 20px; }

.letter span {
  font-weight: 700;
  color: #fcac45; }

.two {
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #9e9e9e; }

.spanTwo {
  font-weight: 700; }

.wrapper {
  width: 76%;
  margin: 0 auto; }

.main__about {
  display: flex;
  padding: 100px 0 100px 0; }

.about__right h1::after {
  display: none; }

.about__right {
  margin-left: 150px; }

.about__right h1 {
  display: inline-block;
  border-bottom: 3px solid #fcac45;
  font-size: 34px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #222222;
  padding-bottom: 20px; }

.about__right span {
  font-weight: 700; }

.about__right p {
  padding-top: 30px;
  padding-bottom: 45px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #6c6c6c; }

.about__right ul {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  font-style: italic; }

.about__right ul span {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #5a5a5a; }

.about__right li {
  margin-bottom: 12px;
  background: url("../img/icons/icccs.png") left no-repeat;
  padding-left: 25px; }

.about .mw-100 {
  min-width: 100%; }

.main__team {
  background-color: #000000;
  text-align: center;
  padding: 100px 0 165px 0;
  color: #ffffff; }

.main__team h1 {
  font-family: 'Open Sans';
  font-size: 44px;
  line-height: 24px;
  font-weight: 600;
  padding-bottom: 30px; }

.team__cards {
  display: flex; }

.card {
  margin: 0 40px; }

.photo__1 {
  background: url("../img/me.jpg") left no-repeat;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 20px auto; }

.photo__2 {
  background: url("../img/ira.jpg") left no-repeat;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 20px auto; }

.photo__3 {
  background: url("../img/danek.jpg") left no-repeat;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 20px auto; }

.photo__4 {
  background: url("../img/diman.jpg") left no-repeat;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 20px auto; }

.name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 7px; }

.rank {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 35px; }

.about__position {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400; }

.maine__service h1 {
  padding: 100px 0 30px 0;
  font-size: 44px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
  text-align: center; }

.service__text {
  padding-bottom: 102px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #6c6c6c;
  text-align: center; }

.service__card h4 {
  font-size: 25px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
  margin-top: 20px;
  margin-bottom: 15px; }

.service__card p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #222222;
  padding-bottom: 101px;
  padding: 0 20px 101px 0px;
  text-align: center;
  margin-left: 0 189px; }

.service__cards {
  text-align: center;
  display: flex; }

.main__clients {
  background: #000000;
  padding: 100px 0 205px 0;
  color: #ffffff;
  text-align: center; }

.main__clients h1 {
  font-size: 44px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 30px; }

.main__clients span {
  font-weight: 600; }

.main__clients img {
  margin-left: 40px; }

.main__testipals {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: 100px 0 173px 0; }

.main__testipals h1 {
  font-size: 44px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px; }

.main__testipals span {
  font-weight: 300; }

.text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #e7e7e7; }

.under__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #b2b2b2;
  padding-top: 50px;
  padding-bottom: 170px; }

.under__text span {
  font-weight: 300; }

.main__work {
  text-align: center;
  padding: 100px 0 100px 0; }

.main__work h1 {
  font-size: 44px;
  line-height: 24px;
  font-weight: 300;
  color: #222222;
  margin-bottom: 30px; }

.main__work span {
  font-weight: 600; }

.main__work p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #6c6c6c;
  margin-bottom: 80px; }

.gallery img:hover {
  opacity: 0.9; }

.line {
  margin-bottom: 56px; }

.gallery {
  text-align: center; }

.gallery img {
  padding-right: 30px; }

.line2 {
  padding: 30px; }

.line3 {
  margin-bottom: 100px; }

input {
  width: 360px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 30px; }

.contact__form h1, .contact p {
  text-align: center; }

.contact__form h1 {
  padding-top: 70px;
  font-size: 44px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 30px; }

.contact__form p {
  padding-top: 56px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #6c6c6c;
  text-align: center; }

.contact__wrapper {
  padding-top: 95px;
  width: 753px;
  margin: 0 auto;
  color: #636363; }

.form__inputs {
  display: flex; }

.red {
  color: red; }

textarea {
  width: 100%;
  height: 163px; }

input, textarea {
  border: 1px solid #999999;
  margin-top: 5px; }

input:first-of-type {
  margin-right: 23px; }

.button__block {
  display: flex;
  justify-content: flex-end; }

.button__block:hover {
  font-style: italic;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  transition: padding 1s ease 1s, color 1s  ease-in 0.5s; }

input[type=submit]:hover {
  background-color: red;
  transition: padding 1s ease 2s, color 2s  ease-in 0.5s; }

input[type=submit] {
  width: 165px;
  height: 40px;
  background: #fcac45;
  color: white;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 100px;
  transition: padding 1s ease 1s, color 1s  ease-in 0.5s; }

footer {
  width: 100%;
  height: auto;
  background: #222222;
  padding: 30px 0; }

.social {
  display: flex;
  justify-content: center; }

.social img {
  margin-left: 12px; }

.social img:hover {
  opacity: 0.9; }
